<form [formGroup]="formModel" (submit)="onSave()">
	<div formGroupName="dateRange">
		From: <input type="date" formControlName="from">
		To: <input type="date" formControlName="to">
	</div>
	<div>
		<ul formArrayName="emails">
			<li *ngFor="let e of this.formModel.get('emails').controls; let i=index;">
				<input type="text" [formControlName]="i">
			</li>
		</ul>
		<button (click)="addEmail()">Add Email</button>
	</div>
	<div>
		<button type="submit">Save</button>
	</div>
</form>

<form [formGroup]="newForm" (submit)="onSubmit()">
	<!-- touched,untouched表示用户是否碰过
	pristine,dirty表示用户是否有输入 -->
	<div>Alias: <input [class.hasError]="newForm.get('alias').invalid && newForm.get('alias').touched" formControlName="alias" type="text"></div>
	<!-- newForm.hasError('校验器名字','校验字段名')，这里的校验器名字是校验器返回的key，如果校验通过则不会返回 -->
	<div [hidden]="!newForm.hasError('minlength','alias')">
		Invalid Alias (Alias should be at least 6 digits)
	</div>
	<div>Age: <input formControlName="age" type="number"></div>
	<div formGroupName="pwdGroup">
		<div>Password: <input formControlName="pwd" type="password"></div>
		<!-- 因为pwd不是一级字段名，所以第二个参数需要使用数组将一级字段pwdGroup写入 -->
		<div [hidden]="!newForm.hasError('minlength', ['pwdGroup', 'pwd'])">
			Password must be at least 6 digits
		</div>
		<div>Password Confirm: <input formControlName="pwdConfirm" type="password"></div>
		<div [hidden]="!newForm.hasError('pwdEqual','pwdGroup')">
			Different password detected
		</div>
	</div>
	<button type="submit">Submit</button>
</form>

